{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header>
    <a href="/polls/">
		  <button class="app_button btn btn-primary">POLLS APPLICATION</button>
    </a>
	</header>
	<div class="headerr"></div>
	<div class="mid-section">
	</div>
	<footer>
		<h4 class="cr">Copyright &#169</h4>
	</footer>
</body>
</html>
