{% load staticfiles %}
{% include "polls/background.html" %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    <title>Polls</title>
</head>

<body>
<h1>Register with Polls</h1>

{% if registered %}
<strong>thank you for registering!</strong>
<a href="/polls/">Return to the homepage.</a><br />
{% else %}
<strong>Register here!</strong><br />

<form id="user_form" method="post" action="/polls/register/" enctype="multipart/form-data">

    {% csrf_token %}

    {{ user_form.as_p }}
    {{ profile_form.as_p }}

    <input type="submit" name="submit" value="Register" />
</form>
{% endif %}
</body>
</html>
